<tr>
	<td>
		$<%= stat.spot.round(4) %>
	</td>
	<td>
		$<%= stat.move.round(4) %>
	</td>
	<td>
		$<%= stat.usd_avail.round(4) %>
	</td>
	<td>
		<%= stat.btc_avail.round(4) %>
	</td>
	<td>
		<%= stat.eth_avail.round(4) %>
	</td>
	<td>
		$<%= stat.total.round(4) %>
	</td>
</tr>